.contact-section .contact-form .form-group .form-control {
    background-color: #161616;
    border: none;
    border-bottom: 1px solid #1d1d1d;
    border-radius: 0;
    font-size: 15px;
    padding: 9px 14px;
    color: #777;
    
}
.form-group{margin-bottom: 3%;}
.contact-info{color: silver;}
.info-type{color: white;}
.media{margin-bottom: 3%;}
.list-unstyled{
    padding-left: 15px;
    border-left: 2px solid #009e66;
}
span>a{
    text-decoration: none;
    color: #009e66;
}
span>a:hover{
    color: lightgreen;
}
